div {
  border: solid black thin;
  margin: 5px;
}
#third > p {
  visibility: hidden;
  /* takes up the same space on the site but is invisible! */
}
h1 {
visibility: hidden;
}
#second p {
  visibility: hidden; 
}
/* in order to hide the image you can use this command #sixth {visibility: hidden;}*/
